In [14]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data =  ("data/city_data.csv")
ride_data =  ("data/ride_data.csv")

city_data_df = pd.read_csv(city_data)
ride_data_df = pd.read_csv(ride_data)
# Combine the data into a single dataset
city_ride_data = pd.merge(city_data_df, ride_data_df)
# Display the data table for preview
city_ride_data.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [7]:
urban_df = city_ride_data.loc[city_ride_data["type"]=="Urban",:]
#take total fare per city urben
total_fare_urben_city = urban_df.groupby("city")["fare"].sum()
#take the avg urben far per city
avg_urben_fare_city = urban_df.groupby("city")["fare"].mean()
# rides per city
total_urben_city_rides= urban_df.groupby("city")["ride_id"].count()

 #total number drivers per city
city_total_drivers = urban_df.groupby("city")["driver_count"].idxmax()

urben_analysis = pd.DataFrame({"urben fare city total":total_fare_urben_city,
                              "avg fare per city":avg_urben_fare_city,
                              "total rides per city":total_urben_city_rides,
                              "total drivers per city":city_total_drivers})

urben_analysis.head()

,urben fare city total,avg fare per city,total rides per city,total drivers per city
city,,,,
Amandaburgh,443.55,24.641667,18,1520
Barajasview,557.31,25.332273,22,234
Carriemouth,764.49,28.314444,27,440
Christopherfurt,661.55,24.501852,27,1241
Deanville,491.01,25.842632,19,1356

In [16]:
Suburban_df = city_ride_data.loc[city_ride_data["type"]=="Suburban",:]

#take total fare per city urben
total_fare_Suburban_city = Suburban_df.groupby("city")["fare"].sum()
#take the avg urben far per city
avg_Suburban_fare_city = Suburban_df.groupby("city")["fare"].mean()
# rides per city
total_Suburban_city_rides= Suburban_df.groupby("city")["ride_id"].count()

 #total number drivers per city
city_total_drivers = Suburban_df.groupby("city")["driver_count"].idxmax()

Suburban_analysis = pd.DataFrame({"Suburban fare city total":total_fare_Suburban_city,
                              "avg fare per Suburban city":avg_Suburban_fare_city,
                              "total rides per Suburban city":total_Suburban_city_rides,
                              "total drivers per Suburban city":city_total_drivers})
Suburban_analysis.head()

,Suburban fare city total,avg fare per Suburban city,total rides per Suburban city,total drivers per Suburban city
city,,,,
Barronchester,582.76,36.422500,16,2038
Bethanyland,593.21,32.956111,18,1996
Brandonfort,673.31,35.437368,19,2054
Colemanland,679.68,30.894545,22,1674
Davidfurt,543.93,31.995882,17,2178

In [17]:
Rural_df = city_ride_data.loc[city_ride_data["type"]=="Rural",:]
#take total fare per city urben
total_fare_Rural_city = Rural_df.groupby("city")["fare"].sum()
#take the avg urben far per city
avg_Rural_fare_city = Rural_df.groupby("city")["fare"].mean()
# rides per city
total_Rural_city_rides= Rural_df.groupby("city")["ride_id"].count()

 #total number drivers per city
city_total_drivers = Rural_df.groupby("city")["driver_count"].idxmax()

Rural_analysis = pd.DataFrame({"Rural fare city total":total_fare_Rural_city,
                              "avg Rural fare per city":avg_Rural_fare_city,
                              "total Rural rides per city":total_Rural_city_rides,
                              "total Rural drivers per city":city_total_drivers})

Rural_analysis.head()

,Rural fare city total,avg Rural fare per city,total Rural rides per city,total Rural drivers per city
city,,,,
Bradshawfurt,400.64,40.064000,10,2344
Garzaport,72.37,24.123333,3,2341
Harringtonfort,200.82,33.470000,6,2302
Jessicaport,216.08,36.013333,6,2365
Lake Jamie,206.15,34.358333,6,2308

NameError: name 'total_rides' is not defined

In [ ]:
colors=("red")
plt.scatter(total_city_rides,avg_rides, s=test_df["Drivers per city"],c=colors)
plt.show

In [ ]:
#test_df= city_ride_data.groupby["type"]==("Urban").sum()
#test_df.head()

#city_ride_data.pivot_table(index='Urban',columns='Type',aggfunc=sum)

## Bubble Plot of Ride Sharing Data

In [ ]:
# Obtain the x and y coordinates for each of the three city types

# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()